.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}

.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.sl-title {
  font-family: 'Trebuchet MS';
  font-size: 3rem;
}

.sl-py-04 {
  padding-top: .200rem;
  padding-bottom: .01rem
}

.sl-vl {
  position: fixed;
  border: 55px solid;
  height: 6000px;
}

.sl-vl-right {
  right: 0%;
}

.sl-cover-images {
  width: 353px;
  height: 224.617px;
  position: relative;
  top: -28em;
  filter: blur(5px);
}

.sl-cover-images:hover {
  box-shadow: 7px 7px 15px gray;
  transition: .2s;
}

.sl-cover-elvetia {
  left: 165px;
}

.sl-cover-delta {
  left: 225px;
}

.sl-cover-malu {
  left: 285px;
}

.sl-image-container {
  position: relative;
  width: 1320px;
  color: white;
  top: 5.724478em;
  height: 37em;
  left: 109px;
}

.sl-cover-text {
  color: white;
  top: 229px;
  position: absolute;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sl-cover-text-elvetia {
  left: 7em;
}

.sl-cover-text-delta {
  left: 17.79em;
}

.sl-cover-text-malu {
  left: 28.5em
}