body {
  overflow: hidden;
}

.sl-title {
  font-family: 'Trebuchet MS';
  font-size: 3rem;
}

.sl-py-04 {
  padding-top: .200rem;
  padding-bottom: .01rem
}

.sl-vl {
  position: fixed;
  border: 55px solid;
  height: 100%;
}

.sl-vl-right {
  right: 0%;
}

.sl-image-first-row {
  position: relative;
  width: 1320px;
  top: -445px;
  left: 100px;
}

.sl-image-container {
  position: relative;
  width: 1320px;
  color: white;
  top: 67px;
  height: 37em;
  left: 0px;
}

.sl-cover-spans {
  margin-left: 47px;
  width: 360px;
  height: 224.617px;
  left: 9px;
  position: relative;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-left: 5px solid transparent;
  border-right: 0px solid transparent;
  transition: .25s;
}

.sl-a {
  position: relative;
  display: inline-block;
  height: 226px;
  width: 360px;
}

.sl-a:hover img {
  filter: blur(0px);
}

.sl-cover-images {
  width: 360px;
  top: 0px;
  left: 0px;
  height: 224.617px;
  position: relative;
  filter: blur(2px);
  transition: .25s;
}

.sl-cover-text {
  color: white;
  top: -141px;
  position: relative;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 116px;
  height: 0px;
}

.sl-cover-text-delta {
  margin-left: 137px;
}

.sl-cover-text-malu {
  margin-left: 145px
}

.sl-back-a {
  position: absolute;
  left: 10px;
  height: 92px;
  width: 92px;
}

.sl-back-icon {
  position: absolute;
  left: 10px;
  top: 10px;
  height: 80%;
}

.sl-col {
  position: relative;
  left: 28px;
}

.sl-row {
  position: relative;
  top: 2em;
}

.sl-backbt-div {
  position: fixed;
  height: 92px;
  top: -2px;
}

.sl-test-container {
  position: relative;
  top: 91px;
  overflow: auto;
  height: 95vh;
  max-width: 95%;
}

.sl-cover-col {
  max-width: 447.467px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}